body {
    background-color: #89cff0;
}
#hero {
    text-align:center;
    background: url("https://tleeming15.github.io/my-portfolio/assets/images/hero-desk.jpeg");
    background-size: cover;
    background-position: center center;
    height: 400px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
}
#hero img {
    width:200px;
    height:200px;
    border-radius: 50%;
}
#hero h1 {
    margin: 10px 0;
}
#bio h2 {
    margin: 5px 0;
    text-align:center;
}
#bio {
    padding:10px;
}