#menu {
  text-align: right;
  background-color: #1d2d5c;
  padding:20px 0;
}

#menu  a {
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
  color:white;
  transition: color 600ms ease;
}

#menu a:hover {
  color: #89cff0 ;
}

#menu a.active {
  color: #89cff0;
}

#footer {
  text-align: right;
  background-color: #1d2d5c;
  padding:20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width:100vw;
}

#footer  a {
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
  color:white;
  transition: color 600ms ease;
}

#footer img {
  justify-content: right;
  max-width: 40px;
  max-height: 40px;
}

#footer a:hover {
  color: #89cff0;
}

#page {
  text-align: center;
}