body {
    background-color: #89cff0;
    color:#1d2d5c;
}

form{
    width: 250px;
    margin: 0 auto;
    color:#1d2d5c;
}

form input[type="submit"] {
    width: 250px;
}

.submit-button-wrapper{
    margin: 20px 0;
}

nav img {
    height:35px;
    width:35px;
}

.contact-form img {
    height:35px;
    width:35px;
}