body {
    background-color: #89cff0;
}

#projects{
    text-align: center;
}

#projects h2{
    color:#1d2d5c;
}

#projects-cards {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
}
#projects-cards .card img {
    max-width: 38vw;
    max-height: 30vw;
}
#projects-cards .card {
    width:40%;
    text-align:center;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.card{
    color: white;
    background-color: #1d2d5c;
}

.card a{
    text-decoration: none;
    color:white;
}
.card a:hover {
    color: #89cff0 ;
  }


