body {
    background-color: #caebf2;
}

#projects{
    text-align: center;
}

#projects-cards {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
}
#projects-cards .card img {
    max-width: 50vw !important;
}
#projects-cards .card {
    width:40%;
    text-align:center;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
/* #projects-cards .card.first {
    min-width:75% !important;
    width: 75% !important;
} */