body {
    background-color: #caebf2;
}

#projects{
    text-align: center;
}

#projects-cards {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
}
#projects-cards .card img {
    max-width: 40vw;
    max-height: 30vw;
}
#projects-cards .card {
    width:40%;
    text-align:center;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.card{
    color: white;
    background-color: #3933eb;
}
